<%- include("partials/header")-%>



  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card border-0 shadow-sm">
          <div class="card-body">

            <h2 class="card-title text-center mb-5">Create Your Job Posting</h2>
            <form action="/addjob" method="post">
              <div class="form-group">
                <label for="postTitle">Title</label>
                <input class="form-control border-0 bg-light" type="text" name="postTitle" id="postTitle" />
              </div>
              <div class="form-group">
                <label for="postCompany">Company</label>
                <input class="form-control border-0 bg-light" type="text" name="postCompany" id="postCompany" />
              </div>
              <div class="form-group">
                <label for="postLocation">Location</label>
                <input class="form-control border-0 bg-light" type="text" name="postLocation" id="postTitle" />

              </div>
              <div class="input-group mb-3 mt-3">
                <select class="form-select" id="inputGroupSelect01" name="postStatus">
                  <option value="Urgently">Urgently</option>
                  <option value="not Urgently">not Urgently</option>

                </select>
              </div>
              <div class="input-group mb-3">
                <select class="form-select" id="inputGroupSelect01" name="postType">
                  <option value="Full Time">Full Time</option>
                  <option value="Part Time">Part Time</option>
                  <option value="Internship">Intership</option>
                  <option value="Placement">Placement</option>
                </select>
              </div>
              <div class="form-group">
                <label for="postBody">Description</label>
                <textarea class="form-control border-0 bg-light" name="postBody" id="postBody" rows="5"
                  placeholder="Write your Description here"></textarea>
              </div>
              <button class="btn btn-success btn-block mt-3" type="submit" name="button">
                Publish
              </button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

  <%- include("partials/footer")-%>