<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/dashboard.css" />
</head>

<body>
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-md-6">
				<div class="card border-danger">
					<div class="card-header bg-danger text-white">
						<h4 class="mb-0">Error</h4>
					</div>
					<div class="card-body">
						<p class="lead">Sorry, the username or password you entered is incorrect. Please check and try
							again.</p>
						<a href="/login" class="btn btn-danger">Go back to login page</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>